<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="patch" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <label for="title">Enter the book's title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{title}">Title error</div>
    <br/>
    <label for="author">Enter the book's author</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{author}">Author error</div>
    <br/>
    <label for="yearOfPublication">Enter the book's year of publication: </label>
    <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{yearOfPublication}">Year of publication error</div>
    <br/>

    <input type="submit" value="Edit!"/>
</form>

</body>
</html>